@import "_partials/reset.css";
@import "_partials/common.css";
@import "_partials/typho.css";

/* 
?------------
!PALETTE
?------------
*/
:root {
  --text-grey: #7c7e83;
  --top-main-bg: #080b12;
  --main-bg: #141922;
  --footer-bg: #282828;
  --green: #adff2f;
}

/* 
?------------
!NAV
?------------
*/
nav {
  background-color: black;
  width: 55px;
  height: calc(100vh - 120px);
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px 10px 10px 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text-grey);
}
nav img {
  width: 30px;
}
.nav-menu {
  flex-direction: column;
  align-items: center;
}
.bottom-nav {
  flex-direction: column;
  align-items: center;
}
.bottom-nav .donwload {
  width: 20px;
}
.bottom-nav .john-doe {
  padding-top: 0.9375rem;
  margin-top: 0.9375rem;
}
.bottom-nav .john-doe .nav-profile {
  background-color: var(--text-grey);
  padding: 0.25rem;
  width: 30px;
}

/* 
?------------
!MYSPOTIFY
?------------
*/
.myspotify {
  background-color: var(--main-bg);
  padding-left: 50px;
  overflow-y: auto;
}

/* 
?------------
!FOOTER
?------------
*/
footer {
  background-color: var(--footer-bg);
  height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* 
?------------
!RESPONSIVE
?------------
*/
@media screen and (min-width: 553px) {
  /* *navigation */
  nav {
    width: 200px;
    align-items: normal;
    padding: 1.25rem 0.9375rem 0.625rem 0.9375rem;
  }
  nav img {
    margin-right: 10px;
  }
  /* ?bottom nav */
  .bottom-nav {
    display: inline;
  }
  .bottom-nav .john-doe {
    padding-top: 15px;
    border-top: 1px solid var(--text-grey);
    margin-top: 15px;
  }
  .none {
    display: inline-block;
  }
}
