@import "_partials/reset.css";
@import "_partials/common.css";
@import "_partials/typho.css";

/* 
?------------
!PALETTE
?------------
*/
:root {
  --text-grey: #7c7e83;
  --top-main-bg: #080b12;
  --main-bg: #141922;
  --footer-bg: #282828;
  --green: #adff2f;
}
/* 
?------------
!MAIN
?------------
*/
main {
  height: calc(100% - 90px);
}

/* 
?------------
!NAV
?------------
*/
nav {
  background-color: black;
  flex-shrink: 0;
  padding: 10px;
  align-items: center;
  color: var(--text-grey);
}
nav,
nav .icon,
nav .playlist,
nav .bottom-nav {
  flex-direction: column;
}
nav img {
  width: 25px;
}
.playlist {
  flex-grow: 1;
  overflow: hidden;
  min-height: 20px;
}
.playlist .list {
  overflow-y: auto;
}
.bottom-nav {
  align-items: center;
  margin-top: auto;
}
.bottom-nav .donwload {
  width: 20px;
}
.bottom-nav .john-doe {
  padding-top: 0.9375rem;
  margin-top: 0.9375rem;
}
.bottom-nav .john-doe .nav-profile {
  background-color: var(--text-grey);
  padding: 0.25rem;
  width: 30px;
}

/* 
?------------
!MYSPOTIFY
?------------
*/
.myspotify {
  background-color: var(--main-bg);
  flex-grow: 1;
  overflow-y: auto;
  color: white;
}
p {
  line-height: 600px;
}
/* 
?------------
!FOOTER
?------------
*/
footer {
  background-color: var(--footer-bg);
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* 
?------------
!RESPONSIVE
?------------
*/

@media screen and (min-width: 576px) {
  /* *common */
  .none {
    display: inline-block;
  }
  .none-flex {
    display: flex;
  }
  .only-mobile {
    display: none;
  }
  /* *navigation */
  nav {
    width: 230px;
    align-items: normal;
    padding: 1.25rem 0;
  }
  nav img {
    margin-right: 10px;
  }
  .icon li,
  .big-logo,
  .playlist {
    padding-left: 0.9375rem;
  }
  #nav-green {
    border-left: 2px solid var(--green);
  }
  /* ?nav menu */

  .big-logo {
    width: 80%;
  }
  /* ?bottom nav */
  .bottom-nav {
    align-items: normal;
    padding: 0.9375rem;
  }
  .bottom-nav .john-doe {
    padding-top: 15px;
    border-top: 1px solid var(--text-grey);
    margin-top: 15px;
  }
}
