/* 
?------------
!UTILITY
?------------
*/

/* ?MARGIN BOTTOM */
.br50 {
  border-radius: 50px;
}
.mb10 {
  margin-bottom: 0.625rem;
}
.mb15 {
  margin-bottom: 0.9375rem;
}
.mb20 {
  margin-bottom: 1.25rem;
}
.mb30 {
  margin-bottom: 1.875rem;
}
/* ?DISPLAY */
.none,
.none-flex {
  display: none;
}
.flex {
  display: flex;
}
/* ?FONT E COLORE */
.vertical-align {
  vertical-align: middle;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
/* ?BOTTONI */
.btn {
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--top-main-bg);
  color: white;
}
