/* 
?------------
!UTILITY
?------------
*/
.flex {
  display: flex;
}
.br50 {
  border-radius: 50px;
}
.mb10 {
  margin-bottom: 0.625rem;
}
.mb15 {
  margin-bottom: 0.9375rem;
}
.mb20 {
  margin-bottom: 1.25rem;
}
.mb30 {
  margin-bottom: 1.875rem;
}
.none,
.none-flex {
  display: none;
}
.vertical-align {
  vertical-align: middle;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
